<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>我的订单</title>
    <link type="text/css" rel="stylesheet" href="{$smarty.const.CSS_URL}/mall.css"/>
    <link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL}/css_add.css">
    <script type="text/javascript" src="{$smarty.const.JS_URL}/jquery-1.10.0.min.js"></script>
</head>
<style type="text/css">

    #pay{
        float: right;
        margin: -20px 20px 0 0;
        background-color: #edc700;
        padding:5px 10px; 
        border-radius: 5px;
    }
    .collect_goods{
        margin-bottom: 20px;
    }
</style>
<body class="body_color">
<div class="mall_main">
    <div id="child_header">
        <div class="goback"><a href="javascript:history.back(-1)"><i></i></a></div>
        <div class="current_location"><span>订单详情</span></div>
    </div>
<div id="container">
	<div data-role="page">
		<div data-role="content">
			<ul data-role="listview" class="swipe">
                {foreach $info as $key => $value}
				<li>
                    <div class="collect_goods">
                        <div class="coll_goods_img"><img src="{$smarty.const.IMG_URL}/user_photo.jpg"></div>
                        <p>联系人：{$value.nickname}</p>
                            <a id="pay" href="?index=admin&work=pay_one">支付</a>
                        <p>联系电话：{$value.nick_tel}</p>
                        <p>&nbsp地址：{$value.province}{$value.city}{$value.country}{$value.spe_add}</p>
                        <p>&nbsp订单号：{$value.order_id}</p>
                        <div class="price_count"><time>&nbsp订单时间：{$value.produce_time}</time> <span>总计约：{$value.order_weight}kg</span><span>共{$value.order_price}元</span></div>
                        <hr>
                    </div>
				</li>
                {/foreach}
			</ul>
        <!-- 提示 -->
        <div>
            <h3 style="text-align: center;margin-top: 100px;">数量和总价仅作为参考使用<br>具体事宜由您与用户商议完成</h3>
        </div>
		</div>
	</div>
</div>
</div>
<!-- 底部导航条->暂定 -->
<ul id="bottom_navbar">
    <a href="{$smarty.const.__CONTROLLER__}/work"><li style="width: 50%;">开始工作</li></a>
    <a href="{$smarty.const.__CONTROLLER__}/index"><li style="width: 50%;">我的</li></a>
</ul>

</body>
</html>
