<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>全部订单</title>
    <script src="{$smarty.const.JS_URL}/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" href="{$smarty.const.CSS_URL}/mall.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL}/css_add.css">
</head>
<style type="text/css">
    .wait_pay{
        margin-bottom: 30px;
    }
</style>
<body class="body_color">
<div class="mall_main">
<div id="child_header">
    <div class="goback"><a href="javascript:history.back(-1)"><i></i></a></div>
    <div class="current_location"><span>全部订单</span></div>
</div>

<div class="all_orders">
    <ul class="order_nav">
        <li class="current"><a>进行中</a></li>
        <!-- <li><a>待发货</a></li>
        <li><a>已发货</a></li>
        <li><a>已完成</a></li> -->
    </ul>
    <!--待付款订单-->
        <div class="wait_pay">
            {if !$info}
                <h3 style='text-align:center;margin-top:50px;'>接收订单中...</h3>
            {/if}
            <div class="order_list">
                
            </div>
        </div>    
</div>
<!-- 底部导航条->暂定 -->
<ul id="bottom_navbar">
    <a href="{$smarty.const.__CONTROLLER__}/work"><li style="width: 50%;">开始工作</li></a>
    <a href="{$smarty.const.__CONTROLLER__}/index"><li style="width: 50%;">我的</li></a>
</ul>

{literal}
<!-- 轮训方式查询订单 -->
<script type="text/javascript">  
    $(function () {  
        (function longPolling() { 
            $.ajax({  
                url: "testPush",  
                //data: {"timed": Date.parse(new Date())/1000},  
                //dataType: "text", 
                timeout: 5000,//5秒超时，可自定义设置  
                error: function (XMLHttpRequest, textStatus, errorThrown) {  
                    $("#state").append("[state: " + textStatus + ", error: " + errorThrown + " ]<br/>");  
                    //$("#state").append("[state: " + XMLHttpRequest.status + ", error: " + XMLHttpRequest.readyState + " ]<br/>" + textStatus);  
                    if (textStatus == "timeout") { // 请求超时  
                        //$("#state").append("请求超时。"); 
                        //longPolling(); // 递归调用  
                    } else { // 其他错误，如网络错误等  
                        $//("#state").append("未知错误。"); 
                        //longPolling();  
                    }  
                },  
                success: function (data, textStatus) {  
                    //$("#state").append("[state: " + textStatus + ", data: { " + data  + "} ]<br/>");  
                    if (textStatus == "success") { // 请求成功 
                        $('.wait_pay').empty();
                        var jsonObj = eval('(' + data + ')');
                        $.each(jsonObj,function(name,value){
                        	$('.wait_pay').append(
                                "<div class='order_list'>" + 
                                "<p>订单号：" + value.order_id + "</p>" + 
                                "<div class='goods_info'>" +
                                "<div class='left_goods'>" +
                                "<a class='goods_img'><img src='/LanouRec/lanourec/Public/images/user_photo.jpg'></a>" +
                                "<p id='nickname' style='margin-top: 10px;padding-top: 0'>联系人：" + value.nickname +"</p>" +
                                "<p id='nick_tel'>联系电话：" + value.nick_tel + "</p>" +
                                "<p id='spe_add'>地址：" + value.province + value.city + value.country + value.spe_add + "</p>" +
                                "</div>" +
                                "<div class='right_operate'><a href='order/action/receive/id/" + value.order_id + "'>接收</a></div>" +
                                "</div>" +
                                "<div class='price_count'><time id='produce_time'>" + value.produce_time +
                                "<span id='sum'>总计约" + value.order_weight + 'kg ' + '共' + value.order_price + '元' +
                                "</div>" +
                                "</div>" +
                                "</div>");
                        });
                        longPolling();  
                    }
                }
            });
        })();  
    });  
</script> 
{/literal}
    <div id="state"></div>
</body>
</html>