<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>账户明细</title>
    <script src="js/jquery-1.7.2.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{$smarty.const.CSS_URL}/mall.css"/>
    <link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL}/css_add.css">
</head>
<body>
<div id="child_header">
    <div class="goback"><a href="javascript:history.back(-1)"><i></i></a></div>
    <div class="current_location"><span>账户明细</span></div>
</div>
<div class="account_details">
    <div class="type_box">
        <div class="details_list">
            <div class="list1"><p>入账（零钱）</p>
                <time>2018-01-01 15:39:51</time></div>
            <span class="span_enter">10000.00</span>
        </div>
    </div>

    <div class="type_box">
        <div class="details_list">
            <div class="list1"><p>入账（零钱）</p>
                <time>2018-01-01 15:39:51</time></div>
            <span class="span_enter">10000.00</span>
        </div>
    </div>

    <div class="type_box">
        <div class="details_list">
            <div class="list1"><p>入账（零钱）</p>
                <time>2018-01-01 15:39:51</time></div>
            <span class="span_enter">10000.00</span>
        </div>
    </div>
</div>
</body>
</html>