<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>提交信息</title>
    <script src="{$smarty.const.JS_URL}/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" href="{$smarty.const.CSS_URL}/mall.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL}/css_add.css">
    <script type="text/javascript" src="{$smarty.const.JS_URL}/jquery-1.8.2.min.js"></script>
</head>
<style type="text/css">
    p{
        padding: 0;
        margin:0;
    }
</style>
<body>
    {if $info['0'].state eq '0'}
        <div class="mall_main">
            <div id="child_header">
                <div class="goback"><a href="javascript:history.back(-1)"><i></i></a></div>
                <div class="current_location"><span>等待中...</span></div>
            </div>
        </div>
        <h3 style="text-align: center;">您的申请正在审核中，请耐心等待工作人员通知。</h3>
    {/if}
    {if !$info}
    <div class="mall_main">
        <div id="child_header">
            <div class="goback"><a href="javascript:history.back(-1)"><i></i></a></div>
            <div class="current_location"><span>提交申请信息</span></div>
            <div class="next_operate"><span>保存</span></div>
        </div>
        <div class="address_edit">
            <form action="" method="post">
                <ul>
                    <li><span>联系人</span><input type="text" value="" name="username"></li>
                    <li>
                        <span>性别</span>
                        <p class="gender">
                            <label>
                                <input type="radio" name="gender" value="男" id="gender_2">
                            先生</label>
                            <label>
                                <input type="radio" name="gender" value="女" id="gender_3">
                            女士</label>
                            <br>
                        </p>
                    </li>
                    <li><span>手机号码</span><input name="tel" type="text" value="" maxlength="11"></li>
                    <li><span>所在地区</span>
                        <div id="area_adr" class="area_adr">
                            <input style="display: none;" type="text" name="province" value="">
                            <div class="m_zlxg" id="shengfen">
                                <p title="">选择省份</p>
                                <div class="m_zlxg2">
                                    <ul></ul>
                                </div>
                            </div>
                            <input style="display: none;" type="text" name="city" value="">
                            <div class="m_zlxg" id="chengshi">
                                <p title="">选择城市</p>
                                <div class="m_zlxg2">
                                    <ul></ul>
                                </div>
                            </div>
                            <input style="display: none;" type="text" name="country" value="">
                            <div class="m_zlxg" id="quyu">
                                <p title="">选择区域</p>
                                <div class="m_zlxg2">
                                    <ul></ul>
                                </div>
                            </div>
                            <input id="sfdq_num" type="hidden" value="" />
                            <input id="csdq_num" type="hidden" value="" />
                            <input id="sfdq_tj" type="hidden" value="" />
                            <input id="csdq_tj" type="hidden" value="" />
                            <input id="qydq_tj" type="hidden" value="" />
                        </div>
                    </li>
                    <li><span>详细地址</span><input name="address" type="text" value="" maxlength="30"></li> 
                </ul>    
            </form>
        </div>
    </div>
    {/if}
    <script type="text/javascript" src="{$smarty.const.JS_URL}/address.js"></script>
    <script type="text/javascript">
        $(function(){

            $("#area_adr").sjld("#shengfen","#chengshi","#quyu");

        });
        $(".next_operate").click(function(){
            var sf = $("#shengfen").find("p").text();
            $("input[name = 'province']").val(sf);

            var cs = $("#chengshi").find("p").text();
            $("input[name = 'city']").val(cs);

            var qy = $("#quyu").find("p").text();
            $("input[name = 'country']").val(qy);

            $("form").submit();
        })
    </script>
</body>
</html>